/* //////////HEADER////////// */

header {
    background-color: rgba(0, 0, 0, 0.801);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

.hl {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hr {
    

    display: flex;
    justify-content: flex-end;
 
}

.logo {
    width:35px;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: 10px;
}


/* /////////BODY/////////////// */

body {
    background-color: whitesmoke;
}

.left-info {

}

.right-info {

}

.links {
    display: flex;
    
}

.links > li {
    display: inline-flex,
}

a {
    text-decoration: none;
    color: white;
    font-size: 13 px;
    font-weight: 650;
    font-family: sans-serif;
    justify-content: flex-start;
    
}

.bg-1 {
    background-image: url("./media/Afternoon Project LMS wk2-dy2.png");
    background-position: bottom;
    display: flex;
}


/* //////////FOOTER////////// */

footer {
    background-color: white;
    height: 200px;
    display: flex;

}